.nasty-lox {
    width: 300px;
    height: 200px;
    color: aqua;
    background: black;
}

.popa {
    width: 100px;
    height: 200px;
    background: red;
    color: black;
    border: 10px solid pink;
}